.main-header {
    background: url(images/img1.jpg);
    background-size: cover;
    height: 700px;
}

.section-testimonial {
    color: white;
    background: url(images/img40.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}




.showcase-container {
    padding-top: 17rem;
    align-content: center;
    align-items: center;
    al
}

.nav-wrapper {
    padding-top: 1.5rem;
}

.h3-1 {
    padding-top: .5rem;
    margin: 0;
}
.material1 {
    font-size: xx-large;
    padding-top: 1rem;
}

.collapsible-body {
    position: relative;
}

.price {
    
    text-align: right;
}



.container1 {
    display:grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.row1 {
   justify-items: center;
   align-content: center;
   justify-items: center;
   align-items: center;

   
}

.col1 {
   margin: 5px 0;
   padding: 0;
   
}

.img-sec {
    width: 100%;
    height: 100%;
}


.page-footer {
    ;
}

.icons1 {
    
    position: absolute;
}

.contact1 {
    margin-left: 40px
}

@media (max-width: 767px)
div#n2-ss-17 .n-uc-13dfa7589efe9-inner {
    padding: 40px 10px 70px 10px;}